.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0;
  width: 40rem;
}

.form h3 {
  font-size: 2.8rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.form h4 {
  text-align: center;
  font-size: 2.4rem;
}

.form input,
.form textarea {
  text-align: center;
  border: none;
}

.form input {
  text-transform: capitalize;
  font-family: var(--font-title);
  font-weight: 300;
  font-size: 2.8rem;
}

.form textarea {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 1.8rem;
  color: #555;
  width: 34rem;
  height: 10rem;
  resize: vertical;
}

.form textarea:focus-visible {
  outline: none;
}

.image {
  background-color: #333;
  width: 20rem;
  height: 20rem;
  margin-left: 5rem;
  border-radius: 1rem;
}

.ingredients {
  min-width: 15rem;
  padding: 0 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ingredientsList {
  color: #555;
  font-family: var(--font-text);
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: lowercase;
  list-style: none;
  text-align: center;
  margin-top: 1rem;
}

.recipe {
  margin-top: 2rem;
  padding: 0 3rem;
  width: 40rem;
}

.recipe p {
  margin-top: 1rem;
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 1.8rem;
  color: #555;
}
