.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0;
}

.wrapper h3 {
  font-size: 2.8rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.wrapper h4 {
  text-align: center;
  font-size: 2.4rem;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 20rem;
  height: 20rem;
  margin-left: 5rem;
  border-radius: 1rem;
}

.saveRecipe input {
  display: none;
  opacity: 0;
}

.saveRecipe svg {
  position: absolute;
  top: 1rem;
  left: 1rem;

  cursor: pointer;
  color: var(--dark);
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}

.saveRecipe input:checked + label svg {
  color: #f6c342;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ingredients {
  min-width: 15rem;
  padding: 0 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ingredientsList {
  color: #555;
  font-family: var(--font-text);
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: lowercase;
  list-style: none;
  text-align: center;
  margin-top: 1rem;
}

.recipe {
  margin-top: 2rem;
  padding: 0 3rem;
  width: 40rem;
}

.recipe p {
  margin-top: 1rem;
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 1.8rem;
  color: #555;
}

/* Loading */

.loadingIcon {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loadingIcon:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #333;
  border-color: #333 transparent #333 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media all and (max-width: 1024px) {
  .saveRecipe svg {
    font-size: 4rem;
  }

  .wrapper {
    padding: 5rem 0;
  }

  .wrapper h3 {
    font-size: 3.5rem;
  }

  .wrapper h4 {
    font-size: 3rem;
  }

  .imageContainer {
    width: 25rem;
    height: 25rem;
  }

  .ingredientsList,
  .recipe p {
    font-size: 2rem;
  }
}

@media all and (max-width: 768px) {
  .saveRecipe svg {
    font-size: 5rem;
  }

  .wrapper {
    padding: 6rem 0;
  }

  .wrapper h3 {
    font-size: 4rem;
  }

  .wrapper h4 {
    font-size: 3.5rem;
  }

  .ingredientsList,
  .recipe p {
    font-size: 2.4rem;
  }
}
