@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap");

/* ROOT DOCUMENT */

:root {
  --colour-primary: #c0392b;
  --colour-secondary: #2bb2c0;
  --white: #eee;
  --black: #111;
  --dark: #212121;
  --grey: #777;
  --alert: #ff4040;
  --success: #00a762;

  --font-title: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-text: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-title);
}

p {
  margin: 0;
  font-weight: 500;
}

html,
body,
#root,
#rootLayout {
  min-height: 100vh;
}

html {
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  font-family: var(--font-text);
  font-size: 16px;
  font-size: 1.6rem;
  color: var(--dark);
  background-color: var(--white);
  line-height: 1.2;
}

input,
textarea {
  outline: 0;
  background: var(white);
  width: 100%;
  border: 2px solid #e1e1e1;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s;
}

input:focus,
textarea:focus {
  border-color: var(--colour-secondary);
  box-shadow: 0 0 10px var(--colour-secondary);
}

main {
  flex: 1 1;
}

/* Headings */

.header {
  width: 100%;
  padding: 3.2rem;
}

.heading {
  font-size: 3.6rem;
}

/* Buttons */

.btn {
  background: #dc281e;
  background: -webkit-linear-gradient(to right, #f00000cc, #dc281ecc);
  background: linear-gradient(to right, #f00000cc, #dc281ecc);

  border-radius: 3px;
  box-shadow: 0 0 1.5rem #1116;
  cursor: pointer;
  color: var(--white);
  display: inline-block;
  font-family: var(--font-text);
  padding: 1.2rem 1.8rem;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 1.8rem;
  transition: all 0.25s ease-in-out;
  height: fit-content;
}

.btn-round {
  border-radius: 50%;
  padding: 0.8rem 1.2rem;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-sidebar {
  display: block;
  padding: 1rem 1rem;
  border-radius: 0.6rem;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-align: left;
  font-family: var(--font-text);
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.btn-sidebar:hover {
  padding-left: 1.5rem;
  background-color: #1113;
}

.btn-sidebar svg {
  padding-right: 1rem;
  font-size: 3rem;
  vertical-align: middle;
}

.btn-sidebar p {
  vertical-align: middle;
}

/* Checkbox */

.toggleWrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
  cursor: pointer;
  padding: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  width: 6rem;
  height: 3rem;
  cursor: pointer;
  appearance: none;
  background: var(--alert);
  border-radius: 0.5rem;
  position: relative;
  outline: 0;
  transition: all 0.35s ease-in-out;
  border: 0;
  margin: 0;
}

.checkbox:after {
  position: absolute;
  content: "";
  top: 0.4rem;
  left: 0.4rem;
  width: 2.1rem;
  height: 2.1rem;
  background: #dfeaec;
  z-index: 2;
  border-radius: 0.3rem;
  transition: all 0.35s;
}

.checkbox:checked {
  background: var(--success);
}

.checkbox:checked:after {
  left: calc(100% - 2.7rem);
}

.label {
  color: var(--alert);
  font-size: 1.8rem;
  font-family: var(--font-text);
  font-weight: 500;
  margin: 0.5rem 1rem;
  cursor: pointer;

  transition: all 0.25s ease-in-out;
}

.checkbox:checked + .label {
  color: var(--success);
}

.search-bar {
  width: 80rem;
  border-radius: 3rem;
}

/* Utilities */

.text-center {
  text-align: center;
}

.alert {
  padding: 1rem;
  background-color: var(--alert);
  color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.notification {
  padding: 1.2rem 2rem;
  background-color: rgba(46, 204, 113, 0.9);
  color: white;
  border: 2px solid rgba(38, 194, 129);
  border-radius: 1rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  position: fixed;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  z-index: 1000;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-6 {
  margin-left: 6rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

/* Animations */

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Small laptops */
@media all and (max-width: 1440px) {
  html {
    font-size: 50%; /* 1 rem = 8px */
  }

  .checkbox {
    width: 7rem;
    height: 3.5rem;
  }

  .checkbox:after {
    width: 2.5rem;
    height: 2.5rem;
    left: 0.6rem;
    top: 0.6rem;
  }

  .checkbox:checked::after {
    left: calc(100% - 3.2rem);
  }
}

/* Tablets */
@media all and (max-width: 1024px) {
  html {
    font-size: 43.75%; /* 1 rem = 7px */
  }

  body {
    font-size: 2rem;
  }

  .btn {
    font-size: 2.1rem;
    padding: 1.2rem 2.4rem;
  }

  .btn-sidebar {
    font-size: 2.4rem;
  }

  .checkbox {
    width: 7.5rem;
    height: 3.7rem;
  }

  .checkbox:after {
    width: 2.8rem;
    height: 2.8rem;
    left: 0.7rem;
    top: 0.7rem;
  }

  .checkbox:checked::after {
    left: calc(100% - 3.5rem);
  }
}

/* Phones */
@media all and (max-width: 768px) {
  html {
    font-size: 37.5%; /* 1 rem = 6px */
  }

  body {
    font-size: 2.4rem;
  }

  .btn-sidebar {
    font-size: 3.2rem;
  }

  .checkbox {
    width: 9rem;
    height: 3.5rem;
  }

  .checkbox:after {
    width: 3.2rem;
    height: 3.2rem;
    top: 0.8rem;
  }

  .checkbox:checked::after {
    left: calc(100% - 4rem);
  }

  .notification {
    text-align: center;
  }
}
