/* Main content */

.content {
  width: 60vw;
  height: 60vh;

  display: flex;
  background-color: #e9edf6;
}

.content > * {
  padding: 3rem;
}

.heading {
  font-size: 2.4rem;
  text-align: center;
  font-family: var(--font-text);
  font-weight: 400;
  margin-bottom: 1rem;
}

/* Categories section */

.categoriesContainer {
  width: clamp(15rem, 18%, 35rem);
  border-right: 1px solid var(--dark);
}

.categoriesContainer a {
  color: var(--dark);
  font-size: 2rem;
  text-align: center;
}

/* Ingredients section */

.ingredientsContainer {
  width: 100%;
}

.ingredientsContainer > div {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  flex-wrap: wrap;
}

.ingredientsContainer > div > div {
  padding: 1rem 0;
}

.ingredientsContainer label {
  font-size: 2rem;
  font-family: var(--font-text);
  font-weight: 400;
  margin: 1rem;
  cursor: pointer;
}

.ingredientsContainer input[type="checkbox"] {
  appearance: none;
  margin: 0;
  width: auto;
  border: 0;
  padding: 0;
}

.ingredientsContainer input[type="checkbox"]:checked + label {
  color: var(--success);
}

.ingredientsContainer input[type="checkbox"] + label {
  color: var(--alert);
}
