.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 24rem;
  height: 100vh;
  background-color: var(--colour-primary);
  padding: 1rem;
  box-shadow: 1rem 0 2rem rgba(0, 0, 0, 0.2);
}

.sidebar > div {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 3rem;
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 3rem;
  border-bottom: 1px solid #212121;
}

.link {
  display: block;
  padding: 1rem 1rem;
  border-radius: 0.6rem;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;

  transition: all 0.3s ease-in-out;
}

.link:hover {
  padding-left: 1.5rem;
  background-color: #1113;
}

.link svg {
  padding-right: 1rem;
  font-size: 3rem;
  vertical-align: middle;
}

.link p {
  vertical-align: middle;
}

.profile {
  text-align: center;
  padding: 2rem 0;
  color: var(--white);
}
