/* Content */

.content {
  display: flex;
}

.content > * {
  flex: 1;
  padding: 3rem;
  text-align: center;
}

.content h3 {
  font-size: 2.4rem;
}

/* Ingredients section  */

.ingredientsHeader {
  width: 50rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientsHeader > * {
  flex: 1;
}

.ingredientsHeading {
  flex: 2;
}

.addIngredient {
  text-align: right;
  vertical-align: center;
}

.addIngredient p {
  margin-left: auto;
  width: fit-content;
}

.addIngredient p,
.addIngredient path {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.addIngredient p:hover,
.addIngredient p:hover path {
  /* color: var(--success);
  stroke: var(--success); */
}

.addIngredient svg {
  font-size: 2.4rem;
}

/* Recipes section */

.recipesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 60rem;
  margin: 0 auto;
}

.recipe {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem;
  width: 18rem;
  height: 18rem;
  background-color: #333;
  color: var(--white);
  font-family: var(--font-title);
  text-transform: capitalize;
  text-decoration: none;
}
